<h5>Decays involving only charged particles</h5>
<table class="striped">
  <thead>
  <tr>
    <th>Decay</th>
    <th>Related Decay<sup>&#8224;</sup></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>
      <particle-tt
        [particleName]="'K-plus'"
      ></particle-tt>
      &rarr;
      <particle-tt
        [particleName]="'pi-plus'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'pi-plus'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'pi-minus'"
      ></particle-tt>
    </td>
    <td>
      <particle-tt
        [particleName]="'K-minus'"
      ></particle-tt>
      &rarr;
      <particle-tt
        [particleName]="'pi-minus'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'pi-minus'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'pi-plus'"
      ></particle-tt>
    </td>
  </tr>
  <tr>
    <td>
      <particle-tt
        [particleName]="'K-plus'"
      ></particle-tt>
      &rarr;
      <particle-tt
        [particleName]="'pi-plus'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'antimuon'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'muon'"
      ></particle-tt>
    </td>
    <td>
      <particle-tt
        [particleName]="'K-minus'"
      ></particle-tt>
      &rarr;
      <particle-tt
        [particleName]="'pi-minus'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'muon'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'antimuon'"
      ></particle-tt>
    </td>
  </tr>
  <tr>
    <td>
      <particle-tt
        [particleName]="'K-plus'"
      ></particle-tt>
      &rarr;
      <particle-tt
        [particleName]="'pi-plus'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'positron'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'electron'"
      ></particle-tt>
    </td>
    <td>
      <particle-tt
        [particleName]="'K-minus'"
      ></particle-tt>
      &rarr;
      <particle-tt
        [particleName]="'pi-minus'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'electron'"
      ></particle-tt>
      +
      <particle-tt
        [particleName]="'positron'"
      ></particle-tt>
    </td>
  </tr>



  </tbody>
</table>

<h6><sup>&#8224;</sup>The "related decays" here have the particles
  and antiparticles switched.
</h6>

