<div class="container">
  <div *ngIf="eventData" class="row">
    <div class="card col s12">
      <div class="card-content ">
        <div class="row">
          <div class="col s12 m6 l6">

            <div class="card-title">
              <div [innerHtml]="eventData.event.name"></div>
              <span>
                B = {{eventData.bFieldStrength}} kG ({{eventData.bFieldDirection}})
              </span>
              <div>Event Data: </div>
            </div>
          </div>

          <div class="col s12 m6 l6 right-align">
            <button class="btn btn-flat" (click)="closeAnalysisDisplay()"> close </button>
          </div>

        </div>
        <div class="row">
          <div class="col s12">
            <table class="striped bordered">
              <thead>
              <tr>
                <th>Particle</th>
                <th>in/out</th>
                <th>X/Y?</th>
                <th>Mass (MeV/c<sup>2</sup>)</th>
                <th>&theta; (rad)</th>
                <th>p (MeV/c)</th>
                <th>p<sub>x</sub> (MeV/c)</th>
                <th>p<sub>y</sub> (MeV/c)</th>
                <th>E (MeV)</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let particle of eventDataSummary">
                  <td [innerHtml]="particle.name"></td>
                  <td>{{particle.inout}}</td>
                  <td [innerHtml]="particle.alias"></td>
                  <td>{{particle.mass}}</td>
                  <td>{{particle.theta | roundReal : 4}}</td>
                  <td>{{particle.pMag | roundReal : 4}}</td>
                  <td>{{particle.px | roundReal : 4}}</td>
                  <td>{{particle.py | roundReal : 4}}</td>
                  <td>{{particle.energy | roundReal : 4}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="card-title">
              <div> Student Data:</div>
            </div>
            <table *ngIf="studentData" class="striped bordered">
              <thead>
              <tr>
                <th>Particle</th>
                <th>Circle #</th>
                <th>in/out</th>
                <th>Mass (MeV/c<sup>2</sup>)</th>
                <th>r (cm)</th>
                <th>&theta; (rad)</th>
                <th>p (MeV/c)</th>
                <th>p<sub>x</sub> (MeV/c)</th>
                <th>p<sub>y</sub> (MeV/c)</th>
                <th>E (MeV)</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngIf="studentNeutralData && !incomingIsCharged">
                  <td [innerHtml] = "studentNeutralData.name"></td>
                  <td>
                    {{studentNeutralData.circleNumber}}
                  </td>
                  <td>{{studentNeutralData.inout}}</td>
                  <td>{{studentNeutralData.mass }}</td>
                  <td>{{studentNeutralData.r | roundReal : 4}}</td>
                  <td>{{studentNeutralData.theta | roundReal : 4}}</td>
                  <td>{{studentNeutralData.pMag | roundReal : 4}}</td>
                  <td>{{studentNeutralData.px | roundReal : 4}}</td>
                  <td>{{studentNeutralData.py | roundReal : 4}}</td>
                  <td>{{studentNeutralData.energy | roundReal : 4}}</td>
                </tr>
                <tr *ngFor="let entry of studentData">
                  <td [innerHtml] = "entry.name"></td>
                  <td *ngIf="entry.error">
                    {{entry.circleNumber}}
                    <i class="material-icons icon-align-no-space red-text text-darken-2">error_outline</i>
                  </td>
                  <td *ngIf="!entry.error">
                    {{entry.circleNumber}}
                  </td>
                  <td>{{entry.inout}}</td>
                  <td>{{entry.mass }}</td>
                  <td>{{entry.r | roundReal : 4}}</td>
                  <td>{{entry.theta | roundReal : 4}}</td>
                  <td>{{entry.pMag | roundReal : 4}}</td>
                  <td>{{entry.px | roundReal : 4}}</td>
                  <td>{{entry.py | roundReal : 4}}</td>
                  <td>{{entry.energy | roundReal : 4}}</td>
                </tr>
                <tr *ngIf="studentNeutralData && incomingIsCharged">
                  <td [innerHtml] = "studentNeutralData.name"></td>
                  <td>
                    {{studentNeutralData.circleNumber}}
                  </td>
                  <td>{{studentNeutralData.inout}}</td>
                  <td>{{studentNeutralData.mass }}</td>
                  <td>{{studentNeutralData.r | roundReal : 4}}</td>
                  <td>{{studentNeutralData.theta | roundReal : 4}}</td>
                  <td>{{studentNeutralData.pMag | roundReal : 4}}</td>
                  <td>{{studentNeutralData.px | roundReal : 4}}</td>
                  <td>{{studentNeutralData.py | roundReal : 4}}</td>
                  <td>{{studentNeutralData.energy | roundReal : 4}}</td>
                </tr>
                <tr *ngIf="studentDeltaData">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>&Delta;:  </td>
                  <td>{{studentDeltaData.deltaPx | roundReal : 4}}</td>
                  <td>{{studentDeltaData.deltaPy | roundReal : 4}}</td>
                  <td>{{studentDeltaData.deltaE | roundReal : 4}}</td>
                </tr>
                <tr *ngIf="studentDeltaData">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>&Delta;%:  </td>
                  <td *ngIf="studentDeltaData.deltaPxPercent">{{studentDeltaData.deltaPxPercent | roundReal : 2}}%</td>
                  <td *ngIf="!studentDeltaData.deltaPxPercent">-</td>
                  <td *ngIf="studentDeltaData.deltaPyPercent">{{studentDeltaData.deltaPyPercent | roundReal : 2}}%</td>
                  <td *ngIf="!studentDeltaData.deltaPyPercent">-</td>
                  <td>{{studentDeltaData.deltaEPercent | roundReal : 2}}%</td>
                </tr>

                <!--
        deltaPx: inpx - outpx,
        deltaPy: inpy - outpy,
        deltaE: inE - outE,
        deltaPxPercent: maxPx > 0 ? (inpx-outpx)*100/maxPx : '??',
        deltaPyPercent: maxPy > 0 ? (inpy-outpy)*100/maxPy : '??',
        deltaEPercent: inE > 0 ? (inE-outE)*100/inE : '??',
      }"-->
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="errorMessages.length > 0" class="row">
          <div class="col s12">
            <div class="card-title red-text text-darken-2">
              <div> Errors/Warnings:</div>
            </div>
          </div>
          <div *ngFor="let error of errorMessages" class="col s12">
            <i class="material-icons icon-align red-text text-darken-2">error_outline</i> {{error}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

