
<!--

<div class="row">
  <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
    <div class="card">
      <div class="card-content">
        <span class="card-title indigo-text text-darken-2">What is Particle Tracks?</span>
        <p>
          Particle Tracks is a web-based educational tool for generating and analyzing particle
          decay events.
        </p>
        <p>
          Students use the software to generate random particle decay events.
          They then analyze the events by applying energy and momentum conservation.
          The goal of the simulation is to determine the identities of unknown particles
          and either to check the conservation of momentum or determine the momentum
          of a neutral particle that has escaped undetected.
        </p>

      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m8 offset-m2 l10 offset-l1">
    <div class="card">
      <div class="card-title-bar">
        <span class="card-title">What is Particle Tracks?</span>
      </div>
      <div class="card-content">
        <p class="info">
          The Particle Tracks web app....
        </p>


      </div>
    </div>
  </div>
</div>
-->

  <div class="container">
    <div>
      <h2 class="indigo-text text-darken-2 center-align welcome-title">
        Introduction to Particle Physics
      </h2>
    </div>

    <div class="row">
      <div class="col s10 offset-s1 m8 offset-m2">
        <h4 class="left-align">
          The Standard Model
        </h4>
      </div>

      <div class="col s10 offset-s1 m8 offset-m2">
        <h5 class="left-align grey-text text-darken-2 faq-text">
          The currently accepted theory of particle physics is the <a href="https://home.cern/about/physics/standard-model" target="_blank">Standard Model</a>,
          which is a comprehensive theory that explains how the <a href="https://en.wikipedia.org/wiki/Elementary_particle" target="_blank">fundamental particles</a>,
          interact with each other via the strong, weak, and electromagnetic interactions.<sup #fn1Source>[<a class="include-pointer" (click)="gotoFootnotesSection()">1</a>]</sup> Matter is composed of <a href="https://en.wikipedia.org/wiki/Quark" target="_blank">quarks</a> and <a href="https://phys.org/news/2014-01-leptons.html" target="_blank">leptons</a>, which are grouped
          into three <a href="https://www.symmetrymagazine.org/article/august-2015/the-mystery-of-particle-generations" target="_blank">generations</a>, as shown in  Figure 1. The generations are organized by particle mass, with the first generation containing lighter (less massive)
          particles and the second and third generations containing successively heavier particles.<sup #fn2Source>[<a class="include-pointer" (click)="gotoFootnotesSection()">2</a>]</sup> In addition, each of the quarks and leptons has a corresponding
          <a href="https://www.youtube.com/watch?v=Lo8NmoDL9T8" target="_blank">antiparticle</a>, which has the opposite charge.
        </h5>
      </div>
      <div class="col s10 offset-s1 m8 offset-m2 center-align">
          <img class="materialboxed" width="627" src="assets/images/627px-Standard_Model_of_Elementary_Particles.svg.png">
          <span> <a href="/wiki/User:MissMJ" title="User:MissMJ">MissMJ</a> [<a href="https://creativecommons.org/licenses/by/3.0">CC BY 3.0 </a> or Public domain], <a href="https://commons.wikimedia.org/wiki/File:Standard_Model_of_Elementary_Particles.svg">via Wikimedia Commons</a> </span>
      </div>
      <div class="col s10 offset-s1 m8 offset-m2">
        <h5 class="left-align grey-text text-darken-2 faq-text">
          The quarks and charged leptons of the second and third generations are all unstable and spontaneously decay into less massive particles,
          a process known as <a href=" http://curious.astro.cornell.edu/disclaimer/137-physics/general-physics/particles-and-quantum-physics/824-what-causes-a-particle-to-decay-intermediate" target ="_blank">particle decay</a>.
          The average amount of time that it takes for a particle to decay is called its lifetime. These lifetimes can be exceptionally small (e.g., the top quark lifetime is approximately 5×10<sup>-25</sup> seconds,<sup #fn3Source>[<a class="include-pointer" (click)="gotoFootnotesSection()">3</a>]</sup>
          or much larger. Some bound states of first generation quarks are also unstable. For example, neutrons, which are composed of two down quarks and an up quark, are unstable and have a lifetime of
          approximately 15 minutes.<sup #fn4Source>[<a class="include-pointer" (click)="gotoFootnotesSection()">4</a>]</sup> Because the heavier particles decay rather quickly, regular matter, such as atoms and molecules, is composed entirely of first-generation quarks and electrons.
          The quarks and charged leptons of the second and third generation are only produced in high energy collisions such as those produced by particle accelerators or cosmic rays.
        </h5>
        <h5 class="left-align grey-text text-darken-2 faq-text">
          There are six “flavours” of quarks: up and down, charm and strange, top and bottom.  The quarks in the top row each have charge +⅔ |e|, while those in the bottom row have charge -⅓|e|.
          Quarks are never found in isolation, due to a phenomenon called <a href="http://energywavetheory.com/explanations/quark-confinement/" target="_blank">confinement</a>. Instead, quarks combine
          to form composite particles known as hadrons, which can be either baryons or mesons. Baryons are composed of three quarks or three antiquarks. Baryons used in the Particle Tracks simulation include protons (up, up, down)
          and neutrons (up, down, down), and &#931;<sup>+</sup> (up, up, strange). Hadrons composed of one quark and one antiquark are called mesons. Examples of mesons used in the simulation include
          &pi;<sup>+</sup> (up, anti-down), &pi;<sup>-</sup> (down, anti-up), K<sup>+</sup> (up, anti-strange), and D<sup>+</sup> (charm, anti-down).
        </h5>
        <h5 class="left-align grey-text text-darken-2 faq-text">
          Leptons differ from quarks in that they do not engage in strong interactions. The leptons are also grouped into three generations: electron and electron neutrino, muon and muon neutrino, tau and tau neutrino. As noted above, for every quark and lepton, there is a corresponding antiparticle; these have equal mass and charge magnitude, but the opposite sign of charge. For example, the positron is the antiparticle of an electron. It has exactly the same mass and spin but opposite charge (+).
        </h5>
        <h5 class="left-align grey-text text-darken-2 faq-text">
          The Standard Model also includes  four gauge bosons; these are the mediators of particle interactions: gluons (mediate strong interaction between quarks), photon (mediate electromagnetic interaction), W and Z bosons (mediate the weak interaction). Gauge bosons have a spin of 1, while quarks and leptons are fermions and have spin 1/2.The Standard Model is completed with the addition of the recently discovered Higgs boson, a scalar boson with 0 spin. An interesting feature of the Standard Model is that the particles all “start out” exactly massless, and then obtain their masses via their interactions with the <a href="https://www.scientificamerican.com/article/what-exactly-is-the-higgs/" target="_blank">Higgs Boson</a> in a process as known as the <a href="https://en.wikipedia.org/wiki/Spontaneous_symmetry_breaking" target="_blank">Higgs Mechanism</a>.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1 m8 offset-m2">
        <h4 class="left-align">
          Application of Special Relativity
        </h4>
      </div>
      <div class="col s10 offset-s1 m8 offset-m2">
        <h5 class="left-align grey-text text-darken-2 faq-text">
        It is common for subatomic particles to be moving close to the speed of light. For this reason particle physicists must normally take relativity into account. According to Special Relativity,
        observers in different reference frames will generally disagree about distance and time measurements. For example, clocks in a frame that is moving with respect to stationary observers will appear to run slowly, a phenomenon known as time dilation. This effect is important in particle physics, because the lifetimes of particles are specified in the particles’ rest frames.  As a result, particles moving through the lab at relativistic speeds will on average appear to live longer than their published lifetimes.
        </h5>
        <h5 class="left-align grey-text text-darken-2 faq-text">
        Similarly, relativistically accurate equations for momentum and energy differ from those of classical physics. The relativistically correct expression for momentum is <i>p = &gamma;mv, where &gamma; = (1-&beta;<sup>2</sup>)<sup>-1/2</sup></i> where
        <i>&beta;= v<sup>2</sup>/c<sup>2</sup></i>, also known as the Lorentz factor. <i>&beta; = v/c</i>, the ratio of velocity to the speed of light, can also be expressed as pc/E in terms of energy and momentum.
        For massless particles (m=0), <i>E = pc</i>, so &beta; =1.
        Also, the definition <i>p = &gamma;mv </i>breaks down because when m -> 0, &gamma; -> &infin;.The familiar non-relativistic expression for momentum is recovered when beta is much smaller than 1, since then gamma ≈  1 and <i>p ≈  mv</i>.
        </h5>
        <h5 class="left-align grey-text text-darken-2 faq-text">
        In <a href="https://www.youtube.com/watch?v=CYv5GsXEf1o" target="_blank">Special Relativity</a>, the concept of energy is extended compared to its classical counterpart.  In particular, the relativistic energy of a particle contains a contribution due to the mass of the particle and another contribution due to its motion: <i>E =(p<sup>2</sup>c<sup>2</sup> +m<sup>2</sup>c<sup>4</sup>)</i>.
        If the particle is at rest, p = 0, and we have Einstein’s famous equation <i>E = E<sub>0</sub> = mc<sup>2</sup></i> (this is the so-called “rest energy” of the particle).
        If the particle is moving at a speed much less than the speed of light, it is possible to show that E ≈  mc<sup>2</sup> + ½ mv<sup>2</sup>, so that the total energy of the particle is the sum of its rest energy and its (non-relativistic) kinetic energy. At speeds close to the speed of light, the exact expression, <i>E =(p<sup>2</sup>c<sup>2</sup> +m<sup>2</sup>c<sup>4</sup>)</i>, must be used..<sup #fn5Source>[<a class="include-pointer" (click)="gotoFootnotesSection()">5</a>]</sup>
        </h5>
        <h5 class="left-align grey-text text-darken-2 faq-text">
        The correct expressions of p and E are such that if momentum and energy are conserved in some process in one frame of reference, then they will also be conserved in all other frames of reference, as well.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1 m8 offset-m2">
        <h4 class="left-align">
          Modern Particle Physics Research
        </h4>
      </div>
      <div class="col s10 offset-s1 m8 offset-m2">
        <h5 class="left-align grey-text text-darken-2 faq-text">
          Currently, there are numerous fascinating particle physics experiments being conducted around the world. Physicists use electromagnetic fields in <a href="https://home.cern/about/how-accelerator-works" target="_blank">accelerators</a> to accelerate beams of particles to speeds close to the speed of light.
          <a href="https://home.cern/topics/large-hadron-collider" target="_blank">The Large Hadron Collider</a> is the largest and most powerful accelerator in the world. This collider, built by the <a href="https://home.cern/about" target="_blank">European Organization for Nuclear Research (CERN)</a> is located in Geneva, Switzerland, and is used to create precise collisions of particles, test theories, discover new information about particles such as the Higgs, and more.
            The <a href="https://www.fnal.gov/pub/tevatron/tevatron-accelerator.html" target="_blank">Tevatron</a>, an accelerator at <a href="http://www.fnal.gov/pub/about/index.html" target="_blank">Fermilab</a> in the USA, was used to discover the top quark.
        </h5>
      </div>
      <div class="col s10 offset-s1 m8 offset-m2">
        <h5 class="left-align grey-text text-darken-2 faq-text">
          Another area of modern research involves a fascinating phenomenon known as <a href="https://www.youtube.com/watch?v=7fgKBJDMO54l" target="_blank">neutrino oscillation</a>,
          in which a neutrino can change from one generation to another as it propagates along between its production and detection points. Thus, an electron neutrino produced in the core of the sun might be detected on earth as a muon or tau neutrino.
          <a href="https://icecube.wisc.edu/info/neutrino" target="_blank">Neutrinos</a> are leptons that have very little mass and no charge, and have exceptionally weak interactions with regular matter.
          <a href="https://icecube.wisc.edu/" target="_blank">The IceCube Neutrino Observatory</a> does collaborative research with an international team of scientists using a neutrino detector. The aim of their research is to study the nature of dark matter and the properties of neutrinos, as well as cosmic phenomena, from deep within the antarctic ice. Other neutrino experiments are being performed at Fermilab and at various other locations around the world.
        </h5>
      </div>
    </div>

    <div #footnotes class="row">
      <div class="col s10 offset-s1">
        <div>1. <a materialize="tooltip"
                  class="include-pointer tooltipped"
                  data-position="top"
                  data-tooltip="Jump back to footnote [1] in the text."
                  (click)="goBackToText('fn1')"
                  >^</a>Stephen T. Thornton and Andrew Rex, Modern Physics: For Scientists and Engineers (Fort Worth: Saunders College, 2000).

        <div>2. <a materialize="tooltip"
                  class="include-pointer tooltipped"
                  data-position="top"
                  data-tooltip="Jump back to footnote [2] in the text."
                  (click)="goBackToText('fn2')"
                  >^</a> The situation with respect to the masses of the neutrinos is actually a bit subtle, because their masses are so small...http://hitoshi.berkeley.edu/neutrino/PhysicsWorld.pdf.
        <div>3. <a materialize="tooltip"
                  class="include-pointer tooltipped"
                  data-position="top"
                  data-tooltip="Jump back to footnote [3] in the text."
                  (click)="goBackToText('fn3')"
                  >^</a>A. Quadt (2006). "Top quark physics at hadron colliders". European Physical Journal C. 48 (3): 835–1000. Bibcode:2006EPJC...48..835Q. doi:10.1140/epjc/s2006-02631-6.
        <div>4. <a materialize="tooltip"
                  class="include-pointer tooltipped"
                  data-position="top"
                  data-tooltip="Jump back to footnote [4] in the text."
                  (click)="goBackToText('fn4')"
                  >^</a>M. Tanabashi et al. (Particle Data Group), Phys. Rev. D 98, 030001 (2018).
        <div>5. <a materialize="tooltip"
                  class="include-pointer tooltipped"
                  data-position="top"
                  data-tooltip="Jump back to footnote [5] in the text."
                  (click)="goBackToText('fn5')"
                  >^</a>Jackson, John David. Classical Electrodynamics. Wiley: New York, 1975.

    </div>
  </div>
