<body>
  <header>
    <nav>
      <div class="toolbar-wrapper">
        <div class="nav-wrapper">
          <a [routerLink]="['/']" class="brand-logo">Particle Tracks</a>
          <ul id="nav-mobile" class="right">

            <li *ngIf="currentUser">
              +{{currentUser.username}}
            </li>

            <!--
            <span *ngIf="currentUser">{{currentUser.fullName()}}</span>
              <i class="material-icons right">arrow_drop_down</i>
              -->




            <li *ngIf="currentUser && currentUser.isStaff">
              <a materialize="dropdown"
                 data-alignment="right"
                 data-beloworigin="true"
                 class='dropdown-button'
                 data-activates='adminDropdownMenu'>
                Teachers
              </a>
            </li>

            <li *ngIf="currentUser && currentUser.isStaff">
              <a [routerLink]="['/events']">
                Events
              </a>
            </li>
            <li>
              <a materialize="dropdown"
                 data-alignment="right"
                 data-beloworigin="true"
                 class='dropdown-button'
                 data-activates='helpDropdownMenu'>
                Explore
              </a>
            </li>

            <li>
              <a *ngIf="!isLoggedIn()"
                 [routerLink]="['/login']">
                Sign In
              </a>
            </li>

            <li>
              <a *ngIf="!isLoggedIn()"
                 [routerLink]="['/signup']">
                <a materialize="tooltip"
                   class="waves-effect waves-light btn no-uppercase tooltipped"
                   data-position="bottom"
                   data-tooltip="Create an account"
                >Sign Up</a>
              </a>
            </li>

            <li>
              <a *ngIf="isLoggedIn()"
                 (click)="logout()">
                Sign Out
              </a>
            </li>

            <!--<li>
              <a materialize="dropdown" class='dropdown-button' href='#' data-activates='dropdown1'>Drop Me!</a>
            </li>-->

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>


  <!-- Dropdown Structure -->
  <ul id='helpDropdownMenu' class='dropdown-content large-width'>
    <li><a [routerLink]="['/background']">Background Information</a></li>
    <li><a [routerLink]="['/advanced-background']">Advanced Background</a></li>
    <li><a [routerLink]="['/demo']">Demo</a></li>
    <li><a [routerLink]="['/example-problems']">Example Problems</a></li>
    <li><a [routerLink]="['/teacher-faq']">FAQ for Teachers</a></li>
  </ul>

  <!-- Dropdown Structure -->
  <ul id='adminDropdownMenu' class='dropdown-content large-width'>
    <li><a [routerLink]="['/admin']">View Students' Events</a></li>
    <li><a [routerLink]="['/teacher-resources']">Resources</a></li>
  </ul>




</body>
