
/*
.nav-bar-submenu {
  padding-left: 20px;
}
*/


.medium-width {
  min-width: 180px;
}

.medium-large-width {
  min-width: 210px;
}

.large-width {
  min-width: 240px;
}

.toolbar-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

/*
  https://stackoverflow.com/questions/32445707/is-there-any-way-to-change-the-caption-of-buttons-from-capital-letters-to-small8
*/
.no-uppercase {
  text-transform: none;
}

.icon-no-space {
  margin-left: 0px;
}
