<body>
  <header>
    <nav>
      <div class="toolbar-wrapper">
        <div class="nav-wrapper">
          <a [routerLink]="['/']" class="brand-logo">Particle Tracks</a>
          <ul id="nav-mobile" class="right">

            <li *ngIf="currentUser">
              +{{currentUser.username}}
            </li>

            <li *ngIf="currentUser && currentUser.isStaff">
              <a [routerLink]="['/admin']">
                <i class="material-icons">settings</i>
              </a>
            </li>

            <li *ngIf="currentUser && currentUser.isStaff">
              <a [routerLink]="['/events']">
                Events
              </a>
            </li>
            <li>
              <a materialize="dropdown"
                 data-alignment="right"
                 data-beloworigin="true"
                 class='dropdown-button'
                 data-activates='helpDropdownMenu'>
                Explore
              </a>
            </li>

            <li>
              <a *ngIf="!isLoggedIn()"
                 [routerLink]="['/login']">
                Sign In
              </a>
            </li>

            <li>
              <a *ngIf="!isLoggedIn()"
                 [routerLink]="['/signup']">
                <a class="waves-effect waves-light btn no-uppercase">Sign Up</a>
              </a>
            </li>

            <li>
              <a *ngIf="isLoggedIn()"
                 (click)="logout()">
                Sign Out
              </a>
            </li>

            <!--<li>
              <a materialize="dropdown" class='dropdown-button' href='#' data-activates='dropdown1'>Drop Me!</a>
            </li>-->

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>


  <!-- Dropdown Structure -->
  <ul id='helpDropdownMenu' class='dropdown-content large-width'>
    <li><a [routerLink]="['/end-user/help-create-account']">Background Information</a></li>
    <li><a [routerLink]="['/end-user/help-how-forum']">Example Problems</a></li>
    <li><a [routerLink]="['/end-user/help-how-journal']">Demo</a></li>
    <li><a [routerLink]="['/end-user/help-how-journal']">Analysis</a></li>
  </ul>




</body>



