<h5>Decays involving one neutral particle<sup>*</sup></h5>
<table class="striped">
  <thead>
    <tr>
      <th>Decay</th>
      <th>Related Decay<sup>&#8224;</sup></th>
      <th>Neutral Particle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <particle-tt
          [particleName]="'pi-plus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'antimuon'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'neutrino'"
        ></particle-tt>
      </td>
      <td>
        <particle-tt
          [particleName]="'pi-minus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'muon'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'antineutrino'"
        ></particle-tt>
      </td>
      <td>
        <particle-tt
          [particleName]="'neutrino'"
        ></particle-tt>
        (<particle-tt
          [particleName]="'antineutrino'"
        ></particle-tt>)
      </td>
    </tr>

    <tr>
      <td>
        <particle-tt
          [particleName]="'pi-plus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'positron'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'neutrino'"
        ></particle-tt>
      </td>
      <td>
        <particle-tt
          [particleName]="'pi-minus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'electron'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'antineutrino'"
        ></particle-tt>
      </td>
      <td>
        <particle-tt
          [particleName]="'neutrino'"
        ></particle-tt>
        (<particle-tt
        [particleName]="'antineutrino'"
      ></particle-tt>)
      </td>
    </tr>

    <tr>
      <td>
        <particle-tt
          [particleName]="'K-plus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'antimuon'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'neutrino'"
        ></particle-tt>
      </td>
      <td>
        <particle-tt
          [particleName]="'K-minus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'muon'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'antineutrino'"
        ></particle-tt>
      </td>
      <td>
        <particle-tt
          [particleName]="'neutrino'"
        ></particle-tt>
        (<particle-tt
        [particleName]="'antineutrino'"
      ></particle-tt>)
      </td>
    </tr>
    <tr>
      <td>
        <particle-tt
          [particleName]="'K-plus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'positron'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'neutrino'"
        ></particle-tt>
      </td>

      <td>
        <particle-tt
          [particleName]="'K-minus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'electron'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'antineutrino'"
        ></particle-tt>
      </td>
      <td>
        <particle-tt
          [particleName]="'neutrino'"
        ></particle-tt>
        (<particle-tt
        [particleName]="'antineutrino'"
      ></particle-tt>)
      </td>
    </tr>

    <tr>
      <td>
        <particle-tt
          [particleName]="'K-plus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'pi-plus'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'pi-zero'"
        ></particle-tt>
      </td>
      <td>
        <particle-tt
          [particleName]="'K-minus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'pi-minus'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'pi-zero'"
        ></particle-tt>
      </td>
      <td>
        <particle-tt
          [particleName]="'pi-zero'"
        ></particle-tt>
      </td>
    </tr>
    <tr>
      <td>
        <particle-tt
          [particleName]="'K-zero'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'pi-plus'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'pi-minus'"
        ></particle-tt>
      </td>
      <td>(same)</td>
      <td>
        <particle-tt
          [particleName]="'K-zero'"
        ></particle-tt>
      </td>
    </tr>
    <tr>
      <td>
        <particle-tt
          [particleName]="'D-zero'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'K-plus'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'K-minus'"
        ></particle-tt>
      </td>
      <td>(not included)</td>
      <td>
        <particle-tt
          [particleName]="'D-zero'"
        ></particle-tt>
      </td>
    </tr>
    <tr>
      <td>
        <particle-tt
          [particleName]="'D-zero'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'pi-plus'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'K-minus'"
        ></particle-tt>
      </td>
      <td>(not included)</td>
      <td>
        <particle-tt
          [particleName]="'D-zero'"
        ></particle-tt>
      </td>
    </tr>
    <tr>
      <td>
        <particle-tt
          [particleName]="'D-zero'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'pi-plus'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'pi-minus'"
        ></particle-tt>
      </td>
      <td>(not included)</td>
      <td>
        <particle-tt
          [particleName]="'D-zero'"
        ></particle-tt>
      </td>
    </tr>
    <tr>
      <td>
        <particle-tt
          [particleName]="'Sigma-plus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'proton'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'photon'"
        ></particle-tt>
      </td>
      <td>
        (not included)
      </td>
      <td>
        <particle-tt
          [particleName]="'photon'"
        ></particle-tt>
      </td>
    </tr>
    <tr>
      <td>
        <particle-tt
          [particleName]="'Sigma-plus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'proton'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'pi-zero'"
        ></particle-tt>
      </td>
      <td>
        (not included)
      </td>
      <td>
        <particle-tt
          [particleName]="'pi-zero'"
        ></particle-tt>
      </td>
    </tr>
    <tr>
      <td>
        <particle-tt
          [particleName]="'Sigma-plus'"
        ></particle-tt>
        &rarr;
        <particle-tt
          [particleName]="'pi-plus'"
        ></particle-tt>
        +
        <particle-tt
          [particleName]="'neutron'"
        ></particle-tt>
      </td>
      <td>
        (not included)
      </td>
      <td>
        <particle-tt
          [particleName]="'neutron'"
        ></particle-tt>
      </td>
    </tr>
  </tbody>
</table>
<h6><sup>*</sup>We have simplified some notation here.  In particular,
  there is more than one type of neutrino.
</h6>
<h6><sup>&#8224;</sup>The "related decays" here have the particles
  and antiparticles switched.
</h6>



<h6>Sources: <a target="_blank" href="http://pdg.lbl.gov/">Particle Data Group</a>,
  <a target="_blank" href="http://pdg.lbl.gov/">Particle Data Group</a>,
  <a target="_blank" href="http://pdg.lbl.gov/">Particle Data Group</a>

</h6>
<h6>Source: Wikipedia page for Sigmas (https://en.wikipedia.org/wiki/Sigma_baryon)</h6>
<h6>Source: Wikipedia page for Ds (https://en.wikipedia.org/wiki/D_meson)</h6>

<h6>...include probabilities?  might be misunderstood</h6>
