<div class="container">
  <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col s12 m6 offset-m3 l6 offset-l3 reset-password-padding">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Choose a New Password</span>
            <div formGroupName="passwords">
              <div class="row">
                <div class="input-field col s12">
                  <label for="password">Password</label>
                  <input
                    [input-wake-up]="'password'"
                    [class.warning-background] = "(resetPasswordForm.controls.passwords.controls.password.touched && !resetPasswordForm.controls.passwords.controls.password.valid) || (resetPasswordForm.controls.passwords.errors && resetPasswordForm.controls.passwords.controls.password.touched && resetPasswordForm.controls.passwords.controls.password2.touched)"
                    id="password"
                    type="password"
                    formControlName="password">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <label for="password2">Reenter Password</label>
                  <input
                    [input-wake-up]="'password2'"
                    [class.warning-background] = "(resetPasswordForm.controls.passwords.controls.password2.touched && !resetPasswordForm.controls.passwords.controls.password2.valid) || (resetPasswordForm.controls.passwords.errors && resetPasswordForm.controls.passwords.controls.password.touched && resetPasswordForm.controls.passwords.controls.password2.touched)"
                    id="password2"
                    type="password"
                    formControlName="password2">
                </div>
                <div *ngIf="resetPasswordForm.controls.passwords.errors && resetPasswordForm.controls.passwords.controls.password.touched && resetPasswordForm.controls.passwords.controls.password2.touched ">
                  <small class="warning">
                    {{resetPasswordForm.controls.passwords.errors.error}}
                  </small>
                </div>

                <div *ngIf="resetPasswordServerError" class="row">
                  <div class="input-field col s12 login-error red-text text-darken-2 red lighten-3">
                    {{resetPasswordServerError}}
                  </div>
                </div>

                <div *ngIf="!tokenReceived" class="row">
                  <div class="input-field col s12 login-error red lighten-3">
                    Please check the url that you received by email and try again....
                  </div>
                </div>

                <div *ngIf="userIsLoggedIn()" class="row">
                  <div class="input-field col s12 login-error red lighten-3">
                    You are currently signed in!  Please
                    <a class="include-pointer red-text text-darken-4" (click)="signOut()">Sign Out</a> before attempting
                    to reset your password.
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card-action">
            <button
              class="waves-effect waves-light btn"
              type="submit"
              [class.disabled]="!resetPasswordForm.valid || userIsLoggedIn() || !tokenReceived"
              [disabled]="!resetPasswordForm.valid || userIsLoggedIn() || !tokenReceived">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<div id="passwordResetSuccess" class="modal" materialize="modal" [materializeParams]="[{dismissible: true, alignment: 'right'}]"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <h5>Your password has been successfully reset!</h5>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-cyan btn-flat" (click)="signIn()">Sign in</a>
    <a class="modal-action modal-close waves-effect waves-cyan btn-flat" (click)="redirect()">Dismiss</a>
  </div>
</div>


