<div *ngIf="circles.length > 0">
  <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
    <li *ngFor="let circle of circles; let i=index" (mouseenter)="highlightCircle(i)" (mouseleave)="unhighlightCircle(i)">
      <div class="collapsible-header">
        <div class="row row-wrapper">
          <div class="col s10">
            Circle #{{i+1}}
          </div>
          <div class="col s2">
            <a *ngIf="!userIsReadOnly" (click)="deleteCircle(i)">
              <i class="material-icons">close</i>
            </a>
          </div>
        </div>
      </div>

      <div class="collapsible-body collapsible-content-wrapper">
        <div class="row row-wrapper">
          <div class="col s6">
            r:
          </div>
          <div class="col s6">
            {{circle.r | roundReal : 4}} cm
          </div>
        </div>
        <div *ngIf="circle.theta">
          <div class="row row-wrapper">
            <div class="col s6">
              &theta;:
            </div>
            <div class="col s6">
              {{circle.theta | roundReal : 4}} rad
            </div>
          </div>
        </div>
        <div class="row row-wrapper">
          <div class="col s6">
            rotn:
          </div>
          <div *ngIf="!userIsReadOnly" class="col s6">
            <a *ngIf="circle.CW" (click)="toggleRotationDirection(i)">
              <i class="material-icons">redo</i>
            </a>
            <a *ngIf="!circle.CW" (click)="toggleRotationDirection(i)">
              <i class="material-icons">undo</i>
            </a>
          </div>
          <div *ngIf="userIsReadOnly" class="col s6">
            <span *ngIf="circle.CW">
              <i class="material-icons">redo</i>
            </span>
            <span *ngIf="!circle.CW">
              <i class="material-icons">undo</i>
            </span>
          </div>
        </div>
        <div class="row row-wrapper">
          <div class="col s6">
            in/out:
          </div>
          <div *ngIf="!userIsReadOnly" class="col s6">
            <a *ngIf="circle.incoming" (click)="toggleIncomingOutgoing(i)">
              <i class="material-icons">flight_land</i>
            </a>
            <a *ngIf="!circle.incoming" (click)="toggleIncomingOutgoing(i)">
              <i class="material-icons">flight_takeoff</i>
            </a>
          </div>
          <div *ngIf="userIsReadOnly" class="col s6">
            <span *ngIf="circle.incoming">
              <i class="material-icons">flight_land</i>
            </span>
            <span *ngIf="!circle.incoming">
              <i class="material-icons">flight_takeoff</i>
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
