<div class="container">
  <div>
    <h2 class="indigo-text text-darken-2 center-align welcome-title">
      FAQ for Teachers
    </h2>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h4 class="left-align">
        What is Particle Tracks?
      </h4>
    </div>
    <div class="col s10 offset-s1 m8 offset-m2">
      <h5 class="left-align grey-text text-darken-2 faq-text">
        Particle Tracks is a web-based educational tool for generating and analyzing particle
        decay events.
      </h5>
      <h5 class="left-align grey-text text-darken-2 faq-text">
        Students use the software to generate random particle decay events.
        They analyze the events by applying energy and momentum conservation and
        then use the information to determine the identities of unknown particles.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h4 class="left-align">
        What background information do my students need to know?
      </h4>
    </div>
    <div class="col s10 offset-s1 m8 offset-m2">
      <h5 class="left-align grey-text text-darken-2 faq-text">
        The simulation was originally written for an undergraduate, sophomore-level
        class in Modern Physics, where it complements material students
        are learning about energy and momentum in Special Relativity.
      </h5>
      <h5 class="left-align grey-text text-darken-2 faq-text">
        Having said this, the simulation is accessible to students in a high
        school (or first-year university) course in physics.
        It is assumed that students have been exposed to the concepts of momentum
        and energy.  They should also be familiar with the idea that
        momentum is a vector, and that momentum conservation implies that
        each component of the momentum vector is separately conserved.  No calculus
        knowledge is required.  No prior exposure to particle physics is assumed.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h4 class="left-align">
        How much time will it take for my students to do the simulation and analysis?
      </h4>
    </div>
    <div class="col s10 offset-s1 m8 offset-m2">
      <h5 class="left-align grey-text text-darken-2 faq-text">
        Depending on the level of preparation of
        the students, it is reasonable to expect that
        the entire simulation and analysis can be completed in two to
        four hours.
      </h5>
      <h5 class="left-align grey-text text-darken-2 faq-text">
        It is recommended that teachers go through a few guided examples with
        their students
        (see the note about extra resources below), which might take up to an hour.
        Generating events and performing the online portion of the analysis
        is relatively quick (under an hour).  The offline portion of the analysis,
        in which energy and momentum conservation are applied to event data,
        can take another hour or two.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h4 class="left-align">
        What resources are available to my students?
      </h4>
    </div>
    <div class="col s10 offset-s1 m8 offset-m2">
      <h5 class="left-align grey-text text-darken-2 faq-text">
        The demonstration page (link) shows students how to use the website
        and analyze events.  This page includes two brief screencasts
        that students should be encouraged to watch.
      </h5>
      <h5 class="left-align grey-text text-darken-2 faq-text">
        The background page (link) contains more information about
        particle physics, as well as links to other resources.
        Much of this information is not necessary for completing
        the simulation.  It is included for students who are interested
        in learning more about the topic.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h4 class="left-align">
        What extra resources are available to me as a teacher?
      </h4>
    </div>
    <div class="col s10 offset-s1 m8 offset-m2">
      <h5 class="left-align grey-text text-darken-2 faq-text">
        Teachers have access to resources
        that can be used to teach a brief lesson on energy
        and momentum conservation in particle physics.
      </h5>
      <h5 class="left-align grey-text text-darken-2 faq-text">
        Teachers can also see events that their students have
        saved, as well as a "grading key" showing the results
        that the students should get for each of their
        events.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h4 class="left-align">
        How do I sign up?
      </h4>
    </div>
    <div class="col s10 offset-s1 m8 offset-m2">
      <h5 class="left-align grey-text text-darken-2 faq-text">
        If you're interested in trying out the Particle Tracks
        simulation with your students, please fill out the
        following form (link).
      </h5>
      <h5 class="left-align grey-text text-darken-2 faq-text">
        An account will be set up for your school, and you will
        be given "teacher" access to that account so that you can
        see your students' events.  When students log in, they will
        need to select your school as part of the account creation process.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h4 class="left-align">
        Other questions?
      </h4>
    </div>
    <div class="col s10 offset-s1 m8 offset-m2">
      <h5 class="left-align grey-text text-darken-2 faq-text">
        If you have any other questions, please send an email to:....
      </h5>
    </div>
  </div>


  <!--

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title indigo-text text-darken-2">What is Particle Tracks?</span>
          <p>
            Particle Tracks is a web-based educational tool for generating and analyzing particle
            decay events.
          </p>
          <p>
            Students use the software to generate random particle decay events.
            They then analyze the events by applying energy and momentum conservation.
            The goal of the simulation is to determine the identities of unknown particles
            and either to check the conservation of momentum or determine the momentum
            of a neutral particle that has escaped undetected.
          </p>

        </div>
        <!--
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m8 offset-m2 l10 offset-l1">
      <div class="card">
        <div class="card-title-bar">
          <span class="card-title">What is Particle Tracks?</span>
        </div>
        <div class="card-content">
          <p class="info">
            The Particle Tracks web app....
          </p>


        </div>
      </div>
    </div>
  </div>
  -->
</div>
