<!-- http://tuxtweaks.com/2010/06/how-to-fade-the-edges-of-images-with-gimp/ -->
<div>
  <h2 class="indigo-text text-darken-2 center-align welcome-title">
    Particle Tracks
  </h2>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <h4 class="center-align">
        An educational tool for generating and analyzing particle
        decay events.
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <h3 class="indigo-text text-darken-2 center-align">
        Getting Started
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m4 offset-m2 l2 offset-l2">
      <div [routerLink]="['/background']" class="card include-pointer">
        <div class="card-image">
          <img src="assets/images/background.png">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Background</span>
        </div>
      </div>
    </div>

    <div class="col s10 offset-s1 m4 l2">
      <div [routerLink]="['/demo']" class="card include-pointer">
        <div class="card-image">
          <img src="assets/images/demo.png">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Demo</span>
        </div>
      </div>
    </div>

    <div class="col s10 offset-s1 m4 offset-m2 l2">
      <div [routerLink]="['/example-problems']" class="card include-pointer">
        <div class="card-image">
          <img src="assets/images/example.png">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">Example Problems</span>
        </div>
      </div>
    </div>

    <div class="col s10 offset-s1 m4 l2">
      <div [routerLink]="['/teacher-faq']" class="card include-pointer">
        <div class="card-image">
          <img src="assets/images/faq.png">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">FAQ for Teachers</span>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <h5 class="center-align">
        If you're a teacher and are interested in adopting the simulation
        as a classroom or lab experience, check out the information above.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <h5 class="center-align">
        In order to generate and analyze events, you'll need to create
        an account by <a [routerLink]="['/signup']">signing up</a>.  You can
        sign up as a guest user if you want to check out Particle Tracks
        before signing up your institution.
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <h3 class="indigo-text text-darken-2 center-align">
        Ready to go?
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
      <h5 class="center-align">
        <a [routerLink]="['/login']" class="waves-effect waves-teal btn-flat btn-large no-uppercase">Sign In</a>
        <a [routerLink]="['/signup']" class="waves-effect waves-teal btn-flat btn-large no-uppercase">Sign Up</a>
      </h5>
    </div>
  </div>


</div>
