<div class="container">
  <div>
    <h2 class="indigo-text text-darken-2 center-align welcome-title">
      Background
    </h2>
  </div>

  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <h4 class="left-align">
        Particle Physics
      </h4>
    </div>

    <div class="col s10 offset-s1 m8 offset-m2">
      <h5 class="left-align grey-text text-darken-2 faq-text">
        Here is some content about particle physics.

      <h5 class="left-align grey-text text-darken-2 faq-text">
        ...and some more cool content about particle physics.
      </h5>
    </div>

  </div>
  <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
      <app-neutral-decays>
      </app-neutral-decays>
      <app-charged-decays>
      </app-charged-decays>

    </div>
  </div>



</div>
